<div class="container">
  <div class="row mt-5">
    <div class="col-md-2">
      <ul class="list-group">
        <a class="list-group-item" routerLink="/admin/brands/list">Brands</a>
        <a class="list-group-item" routerLink="/admin/cars/list">Cars</a>
        <a class="list-group-item" routerLink="/admin/colors/list">Colors</a>
        <a class="list-group-item" routerLink="/admin/customers/list">Customers</a>
        <a class="list-group-item" routerLink="/admin/models/list">Models</a>
        <a class="list-group-item" routerLink="/admin/rentals/list">Rentals</a>
      </ul>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
