<div class="d-flex justify-content-center mb-3">
  <button type="button" class="btn btn-success" routerLink="/admin/models/add"><i
      class="fa fa-plus-circle"></i></button>
</div>
<table class="table table-striped table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let modelDetail of modelDetails" (click)="getModelDetailViewById(modelDetail.id)">
      <th scope="row">{{modelDetail.id}}</th>
      <td>{{modelDetail.name}}</td>
      <td>{{modelDetail.brandName}}</td>
    </tr>
  </tbody>
</table>
