<div class="card">
  <div class="card-header">
    <div class="d-flex">
      <a class="btn btn-sm me-auto p-2" routerLink="/admin/colors/list"><i class="fa fa-arrow-left fa-lg"></i></a>
      <a class="btn btn-sm p-2" routerLink="/admin/colors/update/{{color.id}}"><i class="fa fa-pencil fa-lg"></i></a>
      <a class="btn btn-sm p-2" routerLink="/admin/colors/remove/{{color.id}}"><i class="fa fa-trash fa-lg"
          aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center mt-2 mb-5">Selected Color Fields:</h5>
    <p class="card-text"><b>Name:</b>&emsp;{{color.name}}</p>
  </div>
</div>
