<div class="row">
  <div class="col-md-3" *ngFor="let carDetail of carDetails">
    <div class="card">
      <img [src]="getCarImage(carDetail)" class="card-img-top" alt="{{carDetail.modelName}}-image"
        style="height: 20vh;">
      <div class="card-body">
        <h4 class="card-title text-center">{{carDetail.brandName}} </h4>
        <h6 class="text-center">{{carDetail.modelName}} </h6>
      </div>
      <ul class="list-group list-group-flush text-center text-bolder">
        <li class="list-group-item"><i><b>Model Year</b></i> | {{carDetail.modelYear}}</li>
        <li class="list-group-item"><i><b>Daily Price</b></i> | {{carDetail.dailyPrice + "₺" }}</li>
      </ul>
      <div class="card-body text-center">
        <a href="#" class="btn btn-outline-secondary" routerLink="/cars/car-detail-page/{{carDetail.id}}">Detaya Git</a>
      </div>
    </div>
    <br>
  </div>
</div>