<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control" id="floatingInput"
          placeholder="name@example.com">
        <label for="floatingInput">E-Mail</label>
        <small *ngIf="email && email.invalid && (email.dirty || email.touched)" class="text-danger">E-Mail
          format is
          wrong!</small>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword"
          placeholder="Password">
        <label for="floatingPassword">Password</label>
        <small *ngIf="password && password.invalid && (password.dirty || password.touched)" class="text-danger">Password
          should be atleast 5 character</small>
      </div>
      <button class="w-100 btn btn-lg btn-primary mt-3" (click)="login()">Login</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
    <button class="w-100 btn btn-lg btn-danger" (click)="register()">Register</button>
  </main>
</body>
