<div class="card">
  <div class="card-header">
    <div class="d-flex">
      <a class="btn btn-sm me-auto p-2" routerLink="/admin/models/list"><i class="fa fa-arrow-left fa-lg"></i></a>
      <a class="btn btn-sm p-2" routerLink="/admin/models/update/{{modelDetail.id}}"><i
          class="fa fa-pencil fa-lg"></i></a>
      <a class="btn btn-sm p-2" routerLink="/admin/models/remove/{{modelDetail.id}}"><i class="fa fa-trash fa-lg"
          aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center"><b>Selected Model Details:</b></h5>
    <hr class="my-4">
    <p class="card-text"><b>Name:</b>&emsp;{{modelDetail.name}}</p>
    <p class="card-text"><b>Brand Name:</b>&emsp;{{modelDetail.brandName}}</p>
  </div>
</div>
