<div class="card mt-3">
  <div class="card-body">
    <div class="float-left">
      <app-car-detail-filter [selectedBrandId]=selectedBrandId [selectedColorId]=selectedColorId
        [minDailyPrice]=minDailyPrice [maxDailyPrice]=maxDailyPrice></app-car-detail-filter>
    </div>
    <div class="float-right">
      <label for="modelSearch" class="has-float-label">
        <input type="text" class="form-control" [(ngModel)]="filterText" id="modelSearch">
        <span>Search By Model Name</span>
      </label>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-4" *ngFor="let carDetail of carDetails | carDetailModelFilterPipe: filterText">
    <div class="card border-top border-primary border-3">
      <img [src]="getCarImage(carDetail)" class="card-img-top" alt="{{carDetail.modelName}}-image"
        style="width: 400px; height: 240px;">
      <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">{{carDetail.colorName |
        uppercase}}
      </span>
      <span class="badge badge-pill badge-theme-1 position-absolute badge-top-right">{{carDetail.brandName |
        uppercase}}</span>
      <div class="card-body text-center">
        <p class="list-item-heading mb-4">{{carDetail.modelName}} {{carDetail.modelYear}} - {{carDetail.dailyPrice |
          currency}} <a class="btn btn-outline-secondary ml-4"
            routerLink="/site/cars/car-detail-page/{{carDetail.id}}">Detaya
            Git</a>
        </p>
      </div>
    </div>
  </div>
</div>
