<div class="row mt-5 mb-5">
  <div class="col-2">
    <select class="form-select" [(ngModel)]="selectedBrandId">
      <option [ngValue]="undefined" disabled selected>
        Choose a Brand
      </option>
      <option [ngValue]="brand.id" *ngFor="let brand of brands" [selected]="selectedBrandId > 1? true : null">
        {{brand.name}}
      </option>
    </select>
  </div>
  <div class="col-2">
    <select class="form-select" [(ngModel)]="selectedColorId">
      <option [ngValue]="undefined" disabled selected>
        Choose a Color
      </option>
      <option [ngValue]="color.id" *ngFor="let color of colors" [selected]="selectedColorId > 1? true : null">
        {{color.name}}
      </option>
    </select>
  </div>
  <div class="col-3">
    <input type="text" class="form-control" [(ngModel)]="minDailyPrice" placeholder="Minimum Daily Price">
  </div>
  <div class="col-3">
    <input type="text" class="form-control" [(ngModel)]="maxDailyPrice" placeholder="Maximum Daily Price">
  </div>
  <div class="col-1">
    <button (click)="filter()" class="btn btn-primary">Filter</button>
  </div>
  <div class="col-1">
    <button type="submit" class="btn btn-danger">Reset</button>
  </div>
</div>
