<div class="d-flex justify-content-center mb-3">
  <button type="button" class="btn btn-success" routerLink="/admin/colors/add"><i
      class="fa fa-plus-circle"></i></button>
</div>
<table class="table table-striped table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let color of colors" (click)="getColorViewById(color.id)">
      <th scope="row">{{color.id}}</th>
      <td>{{color.name}}</td>
    </tr>
  </tbody>
</table>
